jenatdb.repository=/home/mo/Desktop/relaxation data/data
#jenatdb.repository=D:\\Encadrement\\Fokou_Geraud\\MFS\\Code\\apache-jena-2.13.0\\LUBM100R

oracle.url=jdbc:oracle:thin:@localhost:1521:orcl
oracle.driver=oracle.jdbc.driver.OracleDriver
oracle.login=lubm100
oracle.password=pass

sesame.repository=D:\\Encadrement\\Fokou_Geraud\\MFS\\Code\\sesame\\LUBM100

virtuoso.url=http://s-virtualmachine2-lias:8890/sparql
virtuoso.defaultgraphuri=http://swat.cse.lehigh.edu/onto/univ-bench.owl

repository.statistics=statisticslubm100-saturated.properties